*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
     display: flex;
    flex-direction: column;
    /* padding: 30px; */
    background-color: #fff;
    gap: 10px;
    width: 450px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.493);
    border-radius: 20px;
}
.container h1, .container h2{
    font-size: 1.7rem;
    text-align: center;
    text-transform: capitalize;
    margin-top: 20px;
}
#result{
    /* margin-top:-50px ; */
    /* margin-top: 20px; */
    display: flex;
    align-items: center;
    padding: 0 10px;
    height: 70px;
    background-color: #e0f7fa;
    border-radius: 10px;
    box-shadow: 0 1px 3px #00000033;
    min-width: inherit;
    text-align: center;
}
.studentAverage input {
 height: 50px;
 width: inherit; 
 border: none;
 outline: none;
 padding: 0 10px;
 box-shadow: 0 1px 3px #000000bd;
 border-radius: 20px;
}
.studentAverage{
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 10px;
    border-radius: 20px;
}
button {
    height: 50px;
    background-color: #00796b;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1.2em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
@media (max-width: 768px){
  .container h1 , .container h2{
    font-size: 1rem;
    font-weight: bolder;

  }
  .studentAverage{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.studentAverage input{
     height: 50px;
     width: inherit; 
     border: none;
     outline: none;
     padding: 0 10px;
     box-shadow: 0 1px 3px #000000bd;
     border-radius: 20px;
}
} 
/* .studentAverage{
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: #fff;
    gap: 10px;
    width: 450px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.493);
    border-radius: 20px;
}
.studentAverage input {
 height: 50px;
 width: inherit; 
 border: none;
 outline: none;
 padding: 0 10px;
 box-shadow: 0 1px 3px #000000bd;
 border-radius: 20px;
}
#result{
    margin-top: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    height: 70px;
    background-color: #e0f7fa;
    border-radius: 10px;
    box-shadow: 0 1px 3px #00000033;
    min-width: 500px;
    text-align: center;
}
h1 {
    margin-bottom: 20px;
    color: white;
    font-size: 2em;
}
#result  {
    font-size: 2em;
    color: #00796b;
}
button {
    height: 50px;
    width: 450px;
    background-color: #00796b;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1.2em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
